body{
	background-color:#ddd;
}

#wrapper{
	width:700px;
	margin:0 auto;
	background-color: WhiteSmoke;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
	overflow:hidden;
}

#header{
	position:relative;
	border-top:solid 3px black;
	overflow:hidden;
}

#header h1{
	float:left;
	width:150px;
	height:150px;
	background:url('../images/logo.png') no-repeat 20px;
	text-indent:-999px;
	padding-left:20px;
}

#header p{
	line-height:150px;
	float:left;
	margin-left:20px;
	font-size: 12px;
}

#nav{
	background:#111;
	float:left;
	width:1120px;
	padding-left:20px;
}

#nav li a{
	float:left;
	padding:20px 20px;
	font-size:13px;
	font-weight:bold;
	color:white;
}

#nav li a:hover{
	background:#666;
}

#content{
	padding:36px;
	overflow:hidden;
}

#edit-div{
	display:block;
	margin-bottom:36px;
}

#edit-div textarea{
	width: 516px;
	height:183px;
	padding:20px;
	border: #DDD 1px solid;
	vertical-align:bottom;
}

#edit-div #add-button{
	background-color:black;
	color:white;
	padding:15px 20px;
	border:none;
	cursor: pointer;
}

#edit-div #add-button:hover{
	background-color:#666;
}

#main .article{
	position:relative;
	background:white;
	padding:20px;
	margin-bottom:36px;
	border-bottom: #DDD 1px solid;
	box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	color:black;
}

.meta {
	font-size:12px;
	color:#999;
}

.close {
	position:absolute;
	line-height:15px;
	padding:4px;
	right:8px;
	top:8px;
	border-radius:4px;
}

.edit {
	position:absolute;
	line-height:12px;
	padding:4px;
	right:20px;
	bottom:6px;
	border-radius:4px;
	background-color:#eee;
	
}

.close:hover{
	background-color:#eee;
}

#main .article p{
	font-size:14px;
	line-height:1.8;
	color:#666;
	letter-spacing:1px;
}

#main .more-article:hover {
	background-color:#eee;
	cursor: pointer;
}
